<div class="container">
    <%@room.places.each do |place|%>
        <div class="user<%=place.user_id%>">
            
            <%=form_for place,url: find_path(params[:id]),method: :get do |f|%>
                <div class="row">
                    <%=f.hidden_field :user_id,class: "form-control", placeholder: place.user_id %>
                <div class="col-4"><%=User.find(place.user_id).email%> </div>
                <div class="col-2">
                    <%=f.number_field :lat, class: "lat", class: "form-control",placeholder: place.lat, step: "0.0000001"%>
                </div>
                <div class="col-2">
                    <%=f.number_field :lng, class: "lng", class: "form-control",placeholder: place.lng, step: "0.0000001"%>
                </div>
                
                <%if place.user_id ==current_user.id%>
                    <div class="col-2">
                        <%=f.submit '장소 정하기', class: "btn btn-info"%>
                    </div>
                <%end%>
                
                <% if @creator && place.user_id!=current_user.id %>
                    <div class="col-2">
                        <%=link_to '삭제', destroy_member_path(place.id), class: "btn btn-danger" %>
                    </div>
                <% end%>
                </div>
                        <%end%>

        </div>
    <%end%>    


<h5 class="d-flex justify-content-center align-middle">링크 주소 : <kbd>https://where-to-meet-2-dboong.c9users.io/room/show/<%=params[:id]%></kbd>
<%=image_tag 'http://www.iconsdb.com/icons/preview/black/copy-link-xxl.png',size: "50",class: "clipboard-btn",:data =>{:clipboard_action => "copy",:clipboard_target => "#bar"} %>
</h5>


<a class="d-flex justify-content-center" id="kakao-link-btn" href="javascript:;">
    <%= image_tag 'kakao_link' %>
</a>
<div id="map" style="width:100%;height:350px;"></div>

<span class="d-flex justify-content-center"><%=link_to 'result', result_path(params[:id]),class: "btn btn-info btn-lg btn-block"%></span>

</div>
<button id="GPS">GPS</button>




<script type='text/javascript'>
    
    Kakao.init('87e95e90db1318f284d859ffa50fed2d');
   
    
    Kakao.Link.createDefaultButton({
      container: '#kakao-link-btn',
      objectType: 'feed',
      content: {
        title: '딸기 치즈 케익',
        description: '#케익 #딸기 #삼평동 #카페 #분위기 #소개팅',
        imageUrl: 'http://mud-kage.kakao.co.kr/dn/Q2iNx/btqgeRgV54P/VLdBs9cvyn8BJXB3o7N8UK/kakaolink40_original.png',
        link: {
          mobileWebUrl: 'https://where-to-meet-2-dboong.c9users.io/room/show/<%=params[:id]%>',
          webUrl: 'https://where-to-meet-2-dboong.c9users.io/room/show/<%=params[:id]%>'
        }
      },
      social: {
        likeCount: 286,
        commentCount: 45,
        sharedCount: 845
      },
      buttons: [
        {
          title: '웹으로 보기',
          link: {
            mobileWebUrl: 'https://where-to-meet-2-dboong.c9users.io/room/show/<%=params[:id]%>',
            webUrl: 'https://where-to-meet-2-dboong.c9users.io/room/show/<%=params[:id]%>'
           
          }
        }
      ]
    });
</script>

<script>
   var clipboard = new Clipboard('.clipboard-btn');

clipboard.on('success', function(e) {
   alert('주소가 복사되었습니다.\n(https://where-to-meet-2-dboong.c9users.io/room/show/<%=params[:id]%>)\r\n친구들에게 공유하세요!');
});

clipboard.on('error', function(e) {
    console.error('Action:', e.action);
    console.error('Trigger:', e.trigger);
});
</script>
<script>


// $(document).ready(function(){
       
    var positions = [];
    var center = [];
    var images=[];
    
    <%@room.places.each do |place|%>
        images.push("<%=User.find(place.user_id).profile_img%>");
    
    <%end%>
    function form_latlnghash(title,lat,lng){
        
        var LatLngHash = {};
        LatLngHash["title"] = title;
        LatLngHash["lat"] = lat;
        LatLngHash["lng"] = lng;
        return LatLngHash;
        
    }
    
    <%@room.places.each do |place| %>
        positions.push(form_latlnghash("<%=User.find(place.user_id).email%>", <%=place.lat%>,<%=place.lng%>));
    <%end%>
    
    
    center.push(<%=@sum_lat%>);
    center.push(<%=@sum_lng%>);
    
    function update_latlng(index){
         
        var lat = $(this).find(".lat").val();
        var lng = $(this).find(".lon").val();
        
        positions[index] = form_latlnghash("updated",lat,lng);
    }
    function updateCenter(){
        center[0] = <%=@sum_lat%>;
        center[1] = <%=@sum_lng%>;
    }
     
     
    function daum_map(){
      
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
        mapOption = { 
            center: new daum.maps.LatLng(center[0], center[1]), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };
        
        var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
         
        // 마커를 표시할 위치와 title 객체 배열입니다 
        
        // 마커 이미지의 이미지 주소입니다
       var bounds = new daum.maps.LatLngBounds();
        
        for (var i = 0; i < positions.length; i ++) {
        // var imageSrc ='http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png'; 
            var imageSrc=images[i];
            // 마커 이미지의 이미지 크기 입니다
            var imageSize = new daum.maps.Size(35, 35); 
            var placePosition =  new daum.maps.LatLng(parseFloat(positions[i].lat), parseFloat(positions[i].lng));
            // // 마커 이미지를 생성합니다    
            var markerImage = new daum.maps.MarkerImage(imageSrc, imageSize); 
           
            // 마커를 생성합니다
            var marker = new daum.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: placePosition, // 마커를 표시할 위치
                title : positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
            image : markerImage // 마커 이미지 
            });
            var polyline = new daum.maps.Polyline({
                map: map,
                path: [
                    new daum.maps.LatLng(positions[i].lat,positions[i].lng),
                    new daum.maps.LatLng(center[0],center[1])
                    
                ],
                strokeWeight: 2,
                strokeColor: '#FF00FF',
                strokeOpacity: 0.8,
                // strokeStyle: 'dashed'
            });
            bounds.extend(placePosition);
        }
       
map.setBounds(bounds);    
  marker = new daum.maps.Marker({
        map: map, // 마커를 표시할 지도
      
        position: new daum.maps.LatLng(center[0],center[1]), // 마커를 표시할 위치
        title : "center", // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
     //   image : markerImage // 마커 이미지 
    });
    
  
}
// });
   
 daum_map();
   
   
</script>

<script>
         
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(refresh);
            }
        }
        
        function refresh(position){
              $.ajax(
                    {
                     url:"/room/refresh",
                     type: 'post',
                      data:{id: <%=params[:id]%>,                      lat: position.coords.latitude,                  lon: position.coords.longitude},
                      success :function(d){}
                    });
        }
       
        $("#GPS").click(getLocation);
        
   
       
    
</script>